//
   Created by Jan Śledziewski on 18.05.2017.

extends layout
block content
    script.
        $(function () {
            $.ajax({
                url: "/load",
                success: function (JSON) {
                    var dane = "";
                    var input = $('.data-input');
                    input.css('height', (JSON.length / 3 * 150));
                    for (var id = JSON.length - 1; id >= 0; id--) {
                        var product = JSON[id];
                        dane +=
                            "<button class='row col-md-12' data-toggle='collapse' data-target='#product" + id +"'> Pokaż " + product.title + "</button>" +
                            "<div class='row col-md-12 milky collapse product-list' id ='product" + id +"'>" +
                                "<form  class = 'col-md-6 well' id = 'edit-form' action='/add' method='POST'>" +
                                    "<b>Nazwa produktu:</b><br>" +
                                    "<input type='text' name='title' value='" + product.title + "' disabled/><br>" +
                                    "<b>Opis: </b><br>" +
                                    "<textarea name = 'description' form='edit-form' disabled>" + product.description + "</textarea><br>" +
                                    "<b>Cena:</b><br>" +
                                    "<input type='text' name='price' value='" + product.price + "'disabled/><br>" +
                                    "<b>Link obrazka:</b><br>" +
                                    "<input type='text' name='image' value='" + product.image + "'disabled/>" +
                                    "<input type='submit' disabled/>" +
                                "</form>" +
                                "<img class = 'col-md-3' src='" + product.image +"' />" +
                                "<div class='col-md-2 text-center'> " +
                                    "<div>" +
                                        "<button type='button' class='btn btn-warning admin-buttons' > Edytuj </button><br>" +
                                        "<button type'button' class='btn btn-danger admin-buttons'> Usuń </button>" +
                                    "</div>" +
                                "</div>" +
                            "</div>";
                    }
                    input.append(dane);
                }
            });
        });

    div.row.col-md-offset-2.col-md-8
        unless user
            div.login-form.row.col-md-4.col-md-offset-4.spacing
                div
                    form(action = '/login', method='post')
                        div
                            label
                                b Login:
                            input(type = 'text', placeholder='Podaj login...', name='username')
                        div
                            label
                                b Hasło:
                            input(type = 'password', placeholder='Wpisz hasło...', name='password')
                        div
                            button(type = 'submit') Loguj
        if user
            div.row.col-md-12
                div.row.col-md-offset-2.col-md-8.spacing.well.text-center
                    h3 Dodaj produkty
                    form(action='/add', method='POST' id='add-form').text-left
                        b Nazwij produkt:
                        br
                        input(type='text', name='title')
                        br
                        b Dodaj opis:
                        br
                        textarea(type='text', name='description' form='add-form')
                        br
                        b Dodaj cenę:
                        br
                        input(type='text', name='price')
                        br
                        b Obrazek produktu:
                        br
                        input(type='text', name='image')
                        input(type='submit')
            div.row.col-md-12.data-input