extends layout
block content
	// First Parallax ( LOGO )
	#home.parallax.parallax1
		.parallax-center
			span.parallax-text.parallax-logo.logo-animate-opacity PANI KUSIA
	
	// About Section
	#about.row.textContainers
		h3.text-center {{ about.title }}
		p {{ about.content }}

	// Second Parallax ( PRODUCTS )
	#products.parallax.parallax2
		.parallax-center
			span.parallax-text Produkty

	// Products Section
	.row
		.col-sm-12.textContainers
			#category.col-md-4.col-sm-6(ng-if='!showProducts' ng-repeat='category in categories')
				a.productContainer(href='' ng-click='displayProduct(category.id); category.show = !category.show')
					img(class='' ng-src='/images/{{ category.image }}' ng-mouseover='category.show = !category.show' ng-mouseleave='category.show = !category.show' alt='category{{category.id}}')
					.overlay(ng-show='category.show' ng-mouseover='category.show = "true"' ng-mouseleave='category.show = !category.show')
						.textOverly
							h2 {{category.name}}					
			#product.col-sm-12(ng-if='showProducts')
				.row 
					.col-md-12 
						h3
							a(href='' ng-click='displayProduct(-1)')
								i.fa.fa-angle-double-left.fa-lg(aria-hidden="true")
								span  Kategorie
				.row
					.col-md-4.col-sm-6.productContainer(ng-repeat='product in products')
						a
							img(class='' ng-src='/images/products/{{ product.image }}.jpeg' ng-mouseover='product.show = !product.show' ng-mouseleave='product.show = !product.show' alt='product{{product.id}}')
							.overlay(ng-show='product.show' ng-mouseover='product.show = "true"' ng-mouseleave='product.show = !product.show')
								.textOverly
									h2 {{product.title}}
									span {{ product.description }}
									.product-price
										span(ng-if='product.storage > 0').col-md-6
											i.fa.fa-archive
											|  Ilośc {{product.storage}}
										span.noProduct(ng-if='product.storage == 0').col-md-6
											i.fa.fa-window-close
											|  Brak produktu!
										span.col-md-6
											a.products-links(href='' ng-if='product.storage > 0' ng-click='addToCart(product.id)')
												i.fa.fa-shopping-cart.fa-lg(aria-hidden='true')
												|  Cena {{product.price | currency: '': 2}}


	// Third Parallax ( CONTACT )
	#contact.parallax.parallax3
		.parallax-center
			span.parallax-text Kontakt

	// Contact Form Section
	.row.textContainers
		.container
			.go-left.address-text.col-sm-6
				div {{contact.street}}
					br 
					span  {{contact.post}}
					.contacts
						i.fa.fa-phone-square.fa-lg(aria-hidden='true')
						span  {{contact.telephone}}
						br
						i.fa.fa-envelope.fa-lg(aria-hidden='true')
						span  {{contact.mail}}
				h2 Napisz do nas:
					form#contact-form.contact-form(action='/send', method='post')
						.row
							.col-md-6
								.form-group
									input#Name.form-control(type='text', name='name', autocomplete='off', placeholder='Imię Nazwisko')
							.col-md-6
								.form-group
									input#email.form-control(type='email', name='email', autocomplete='off', placeholder='E-mail')
						.row
							.col-md-12
								.form-group
									input#emailTitle.form-control(type='emailTitle', name='emailTitle', autocomplete='off', placeholder='Tytuł')
						.row
							.col-md-12
								.form-group
									textarea#Message.form-control.textarea(rows='3', name='message', placeholder='Wiadomość...', form='contact-form')
						.row
							.col-md-12
								button.btn.main-btn.pull-right(type='submit')
									i.fa.fa-paper-plane(aria-hidden='true')
									|  Wyślij
									
			#map.go-right.address-map.col-sm-6

	// Forth Parallax ( BEFORE FOOTER )
	.parallax.parallax4

	// Footer
	footer.textContainers.text-center
		a.btn(href='#home')
			i.fa.fa-arrow-up.w3-margin-right 
			| To the top
		.row.col-md-12
			a.btn(href="http://", target="_blank") 
				i.fa.fa-facebook-official.fa-lg
			a.btn(href="http://", target="_blank")
				i.fa.fa-instagram.fa-lg
	
	// Basket modal				
	#basketModal.modal.fade(role='dialog')
		.modal-dialog.modal-lg
			// Modal content
			.modal-content
				.modal-title
					h2  Koszyk
				form#modalCartBody.modal-body     
					.form-group(ng-if='cart.totalQty == 0')
						ul.col-md-12
							li.row.text-center Koszyk jest pusty
					.form-group(ng-if='cart.totalQty > 0')
						ul.col-md-12
							li.row
								span.col-md-3
									strong Produkt
								span.col-md-3
									strong Sztuk
								span.col-md-3
									strong Cena za sztukę
								span.col-md-2
									strong Cena
								span.col-md-1
							li.row(ng-repeat='item in cart.items')
								span.col-md-3
									strong {{ item.item.title }}
								span.col-md-3 {{ item.qty }}
								span.col-md-3 {{ item.item.price }}
								span.col-md-2 {{ item.price }}
								span.col-md-1
									a(href='' ng-click='deleteFromCart(item.item.id)')
										i.fa.fa-times
							li.row
								span.col-md-offset-6.col-md-3
									strong Ilośc: 
									span {{ cart.totalQty }}
								span.col-md-3
										strong Suma: 
										span {{ cart.totalPrice }}
				.modal-footer
					button.btn.btn-success(ng-disabled='cart.totalQty == 0') Zamówienie
					button.btn.btn-danger(data-dismiss='modal') Zamknij  				

	// Products control script
	script(src='/javascripts/products.js')
	// Map scirpts
	script(src='javascripts/map.js')
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAVFYr7pl9NDay_rxS5iWiOPo2igIVy1JQ&callback=myMap')
