doctype html
html(lang="pl")
  meta(charset='utf-8' name="viewport" content="width=device-width,  initial-scale=1.0")
  head    
    // Stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/menu.css')
    link(rel='stylesheet', href='/stylesheets/backgrounds.css')
    link(rel='stylesheet', href='/stylesheets/products.css')
    // w3 Css
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
      
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/angular.js')
    script(type='text/javascript', src='/js/ui-bootstrap-tpls.js')
      
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato")
      
    // Menu control script
    script(src='/javascripts/menu.js')
    .navbar
      #myNavbar.menu-btn-group
        a.menu-btn.w3-hover-black.w3-hide-medium.w3-hide-large.w3-right(href='javascript:void(0);', onclick='toggleFunction()', title='Toggle Navigation Menu')
          i.fa.fa-bars
        a.menu-btn.menu-btn(href='./#') HOME
        a.menu-btn.w3-hide-small(href='./#about')
          i.fa.fa-user
          |  O SKLEPIE
        a.menu-btn.w3-hide-small(href='./#products')
          i.fa.fa-th-large
          |  PRODUKTY
        a.menu-btn.w3-hide-small(href='./#contact')
          i.fa.fa-envelope
          |  KONTAKT
        // Admin dont have a basket    
        if !user
          a.menu.btn.w3-hide-small.go-right(data-toggle='modal' data-target='#basketModal')
            i.fa.fa-shopping-basket
            |  KOSZYK 
            span.badge.badge-info(ng-if='cart.totalQty > 0') {{ cart.totalQty }}
      // Navbar on small screens
      #navDemo.w3-bar-block.w3-white.w3-hide.w3-hide-large.w3-hide-medium
        a.menu-btn(href='./#about', onclick='toggleFunction()') O SKLEPIE
        a.menu-btn(href='./#products', onclick='toggleFunction()') PRODUKTY
        a.menu-btn(href='./#contact', onclick='toggleFunction()') KONTAKT
        if !user
          a.menu-btn(data-toggle='modal' data-target='#basketModal')
  body.container-fluid(ng-app='paniKusia' ng-controller='kusiaCtrl')
    block content
