.flowers {
    position: absolute;
    height: 50px;
    width: 50px;
}

.flower-left-top {
    top: 0;
    left: 0;
}

.flower-right-top {
    top: 0;
    right: 0;
}

.flower-right-bottom {
    bottom: 0;
    right: 0;
}

.flower-left-bottom{
    bottom: 0;
    left: 0;
}