.menu {
    position: fixed!important;
    z-index: 2;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 0!important;
}

/* ### LOGIN WINDOW ### */
/* The Modal (background) */
.menu #showLogin, #showSignUp, #showAddWindow {
    word-spacing: -8px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #222;
    border: none;
    color: #9d9d9d;
}

.menu #showLogin:hover, #showSignUp:hover, #showAddWindow:hover {
    color: #FFF;
}

.login-window, .signup-window, .add-window {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.login-window input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.add-window input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.signup-window input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-window #login-button button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.add-window #add-buttons button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.signup-window #signup-button button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.login-window #cancel-button button{
    float: left;
    background-color: darkred;
    color: white;
    padding: 14px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#cancel-button-signup, #add-button-cancel {
    float: right!important;
    background-color: darkred!important;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.login-window #cancel-button span, .signup-window #cancel-button-signup span, .add-window #close span {
    float: right;
}

.show {
    display: block;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 2% auto; /* 15% from the top and centered */
    padding-bottom: 5%;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-container {
    width: 100%;
    margin: 0;
    padding: 5%;
}

.modal-container .label-container label {
    width: 100%;
    margin: 1% auto;
}

.modal-container .label-container label input {
    width: 100%;
}

.modal-container .label-container #login-button #cancel-button {
    margin-top: 5%;
    width: 100%;
}

/* The Close Button */
#close, #close-signup {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
#close:hover,
#close:focus, #close-signup:hover, #close-signup:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}