html, body {
  width: 100%;
  height: 100%;
  padding: 0!important;
  margin: 0;
  font-family: Comfortaa, cursive!important;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center!important;
}

.textContainers {
  color: #777;
  background-color: white;
  padding: 50px 80px;
  text-align: justify;
}

footer {
  border: 1px solid #e7e7e7;
  background-color: #f8f8f8;
}
