html, body {
  width: 100%;
  height: 100%;
  padding: 0!important;
  margin: 0;
  font-family: Comfortaa, cursive!important;
}

a {
  text-decoration: none;
}

.go-right {
  float: right;
}

.go-left {
  float: left;
}

.text-center {
  text-align: center!important;
}

.textContainers {
  color: #777;
  background-color: white;
  padding: 50px 80px;
  text-align: justify;
}

.address-text {
  font-size: 28px;
}

.address-text h2 {
  margin-top: 20px;
}
.address-map {
  -webkit-box-shadow: 1px 2px 9px 1px rgb(26, 39, 50);
  box-shadow: 1px 2px 9px 1px rgb(26, 39, 50);
}

.contacts {
  margin-top: 10px;
  font-size: 22px;
}

#map {
  height: 400px;
}

footer {
  border: 1px solid #e7e7e7;
  background-color: #f8f8f8;
}
